
     <div class="container">



      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="text-center">Welcome to the Chess Game</h1>
        <div class="main-image"><img id="widewrapper" src="/assets/pexels-photo-40173.jpg">
        	
          <h2 class="text-center">CHESS PLAYING CAN HELP YOU TO CONCENTRATE AND IMPROVE YOUR LOGIC</h2></div>
        
       
      </div>

    </div> <!-- /container -->


